<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styleadmin.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <main>
      <h1>Verifikasi Data Pemilih</h1>
      <div class="body">
        <div class="header-body">
          <div class="card-small opacity">
            <div class="icon-verif primary">
              <i class="fa fa-address-book" aria-hidden="true"></i>
            </div>
            <div class="info-verif">
              <h4>Jumlah Semua Data Pemilih :</h4>
              <h2>300</h2>
              <button class="large primary">Lihat</button>
            </div>
          </div>
          <div class="card-small opacity">
            <div class="icon-verif success">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <div class="info-verif">
              <h4>Jumlah Data Ter-Verifikasi :</h4>
              <h2>300</h2>
              <button class="large success">Lihat</button>
            </div>
          </div>
          <div class="card-small opacity">
            <div class="icon-verif danger">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </div>
            <div class="info-verif">
              <h4>Jumlah Data Belum Verifikasi :</h4>
              <h2>300</h2>
              <button class="large danger">Lihat</button>
            </div>
          </div>
        </div>
        <div class="card-table opacity">
          <table id="example" class="display compact" style="width: 100%">
            <thead>
              <tr>
                <th>Nama</th>
                <th>NIK</th>
                <th>RT</th>
                <th>RW</th>
                <th>TPS</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% for(const row of results) { %>
                <tr>
                  <td><%= row.nama %></td>
                  <td><%= row.NIK %></td>
                  <td><%= row.rw %></td>
                  <td><%= row.rt %></td>
                  <td><%= row.id_pengguna %></td>
                  <td><%= row.status %></td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <%- include('./layout/notif.ejs') %>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
      // Ambil semua elemen dengan class "status-button"
      var buttons = document.getElementsByClassName("status-button");

      // Loop melalui setiap tombol
      for (var i = 0; i < buttons.length; i++) {
        var button = buttons[i];

        // Periksa teks pada tombol
        if (button.textContent === "Belum Verifikasi") {
          // Jika tombol belum diverifikasi, ubah warna menjadi merah
          button.style.backgroundColor = "var(--color-dangger)";
        } else if (button.textContent === "Sudah Verifikasi") {
          // Jika tombol sudah diverifikasi, ubah warna menjadi hijau
          button.style.backgroundColor = "var(--color-success)";
        }
      }
    </script>
    <script src="/script.js"></script>
  </body>
</html>
