<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css" />
    <title>Halaman verifikasi data pengguna</title>
   
  </head>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <main id="main-Verif-Pengguna">
      <h1 class="headline">Verifikasi Data Pemilih</h1>
      <div class="containerVerif-bintang">
        <!-- MODAL -->
        <% if (resultPenggunaId.status != null) { %>
          <div class="modal-verifikasi">
            <div class="modal-verifikasi-content">
              <img src="../assets/success.webp" alt="">
              <h3>Data anda berhasil di verifikasi</h3>
            </div>
          </div>
        <% } else if (resultPenggunaId.status == null && resultPenggunaId.tanggal != null) { %>
          <div class="modal-verifikasi">
            <div id="modal-process" class="modal-verifikasi-content">
              <img id="process-verif" src="../assets/process.webp" alt="">
              <div class="tulisan-proses">
                <h3>Data sedang di proses untuk di verifikasi</h3>
              </div>
            </div>
          </div>
        <% } %>
        
        <!-- END MODAL -->
        <form id="form-Verif-Pengguna" enctype="multipart/form-data" method="post" action="" <% if (resultPenggunaId.status != null || (resultPenggunaId.status === null && resultPenggunaId.tanggal !== null )) { %>class="disabled-form"<% } %>>
          <input type="hidden" name="id" id="id" value="<%= resultPenggunaId.id %>">
          <section class="section-Verif-Pengguna kanan">
            <div class="wrap-input-verifP">
              <label class="label-Verif-Pengguna" for="nik">NIK</label>
              <input class="input-Verif-Pengguna" type="text" name="nik" id="nik" value="<%= resultPenggunaId.NIK %>"/>
            </div>
            <div class="wrap-input-verifP">
              <label class="label-Verif-Pengguna" for="nama">Nama</label>
              <input class="input-Verif-Pengguna" type="text" name="nama" id="nama" value="<%= resultPenggunaId.nama %>" />
            </div>
            <div class="flex-row">
              <div class="wrap-input-verifP">
                <label class="label-Verif-Pengguna" for="tgl_lahir"
                  >Tangga Lahir</label
                >
                <input
                  class="input-Verif-Pengguna"
                  type="date"
                  name="tgl_lahir"
                  id="tgl_lahir"
                  value="<%= formattedDate %>"
                />
              </div>
              <div class="wrap-input-verifP">
                <label class="label-Verif-Pengguna" for="jenis_kelamin"
                  >Jenis Kelamin</label
                >
                <select class="inputSelect-Verif-Pengguna" name="kelamin" id="kelamin">
                  <option value="pria" <% if (resultPenggunaId.kelamin === 'pria') { %>selected="selected"<% } %>>Pria</option>
                  <option value="wanita" <% if (resultPenggunaId.kelamin === 'wanita') { %>selected="selected"<% } %>>Wanita</option>
                </select>                
              </div>
            </div>
            <div class="wrap-input-verifP">
              <label class="label-Verif-Pengguna" for="noTelepon"
                >No Telepon</label
              >
              <input
                class="input-Verif-Pengguna"
                type="text"
                name="noTelepon"
                id="noTelepon"
                value="<%= resultPenggunaId.no_hp %>"
              />
            </div>
            <div class="wrap-input-verifP">
              <label class="label-Verif-Pengguna" for="email">Email</label>
              <input
                class="input-Verif-Pengguna"
                type="text"
                name="email"
                id="email"
                value="<%= resultPenggunaId.email %>"
              />
            </div>
          </section>
          <section class="section-Verif-Pengguna kiri">
            <div class="wrap-input-verifP">
              <label class="label-Verif-Pengguna" for="kelurahan"
                >Kelurahan</label
              >
              <input class="input-Verif-Pengguna" name="kelurahan" id="kelurahan" value="Cipaganti" disabled>
            </div>
            <div class="wrap-input-verifP">
              <label class="label-Verif-Pengguna" for="RW"
                >RW</label
              >
              <select class="inputSelect-Verif-Pengguna" name="RW" id="RW">
                <option value="<%= resultPenggunaId.rw %>"><%= "RW 0" + resultPenggunaId.rw %></option>
                <% for (const RW of resultRW) { %>
                  <option class="opsi-rw" value="<%= RW.no %>" id="opsi-rw"><%= "RW 0" + RW.no %></option>
                <% } %>
              </select>
            </div>
            <div class="wrap-input-verifP">
              <label class="label-Verif-Pengguna" for="RT"
                >RT</label
              >
              <select class="inputSelect-Verif-Pengguna" name="RT" id="RT">
                <option value="<%= resultPenggunaId.rt %>"><%= "RT 0" + resultPenggunaId.rt %></option>
              </select>
            </div>
          </section>
          <section class="section-Verif-Pengguna bawah">
            <div class="wrap-input-verifP">
              <label class="label-Verif-Pengguna" for="fotoKtp"
                >Upload Foto KTP</label
              >
              <label class="file">
                <input
                  class="inputFile-Verif-Pengguna"
                  type="file"
                  id="fotoKtp"
                  name="fotoKtp"
                  aria-label="File browser example"
                  accept="image/png, image/jpeg, image/webp, image/jpg"
                  required
                />
                <span class="file-custom"></span>
              </label>
            </div>
          </section>
          <button  id="submit-Verif-Pengguna">Simpan</button>
        </form>
        
      </div>
    </main>
  </body>
</html>

<script>
const rw = document.getElementById("RW");
let rwValue = rw.value;

rw.addEventListener("change", () => {
  rwValue = rw.value;
  const selectRT = document.getElementById("RT");
  selectRT.innerHTML = '<option value="">-- Pilih RT --</option>';

  fetch(`/pengguna/verif-data-pengguna/select/${rwValue}`)
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        // Memperbarui select list TPS dengan hasil yang diperoleh
        data.forEach((rt) => {
          const option = document.createElement("option");
          option.value = rt.no;
          option.textContent = "RT 0"+rt.no;

          // Tambahkan elemen option ke dalam elemen select
          selectRT.appendChild(option);
        });
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  });

</script>

<script>
    $(document).ready(function() {
  $('#form-Verif-Pengguna').submit(function(e) {
    e.preventDefault();

    Swal.fire({
      title: 'Konfirmasi',
      text: 'Apakah Anda yakin untuk mengajukan verifikasi?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Ya',
      cancelButtonText: 'Tidak',
      customClass: {
        confirmButton: 'swal-button-yes',
        cancelButton: 'swal-button-no'
      }
    }).then((result) => {
      if (result.isConfirmed) {
        // Hapus Swal.fire() dari sini
        // ...

        // Submit form menggunakan AJAX tanpa Swal
        $.ajax({
          type: 'POST',
          url: '/pengguna/verif-data-pengguna',
          dataType: 'json',
          data: new FormData($('#form-Verif-Pengguna')[0]),
          processData: false,
          contentType: false,
          success: function(response) {
            console.log(response.redirect);

            // Tambahkan Swal.fire() kembali di sini
            Swal.fire({
              title: 'Data Berhasil Tersimpan',
              icon: 'success',
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
              willClose: () => {
                console.log(response.redirect);
                window.location.href = response.redirect;
              }
            });
          },
          error: function() {
            Swal.fire({
              title: 'Gagal verifikasi data',
              icon: 'error',
              text: 'Terjadi kesalahan saat mengajukan verifikasi.'
            });
          }
        });
      }
    });
  });
});

  </script>